.message-title {
  padding: 5px;
  background-color: dodgerblue;
  color: white;
  font-weight: 'bold';
  margin-bottom: 0px;
}

.message-subtitle {
  font-size: 80%;
  margin-top: 2px;
}

.message_text {
  padding: 5px;

}

.chatcards {
  margin-top: 20px;
}
