.frontimgs {
  margin-top: 50px;
}

.secondrow {
  margin-top: 50px;
  display: inline-block;
  align-items: center;

}

.roundy {
  border-radius: 15px;
}

.pcolor {
  background: dodgerblue;
  color: white;
  padding: 10px;
  width: 100%;
}
